<div id="wrapper" class="container shadow bg-white rounded-lg">
    <div id="container">
        <div id="art-cell">
            <img class="d-flex p-2" src="{{data.image}}"/>
        </div>
        <div id="title-cell">
            <p class="h4 mb-0">{{data.name}}</p>
        </div>
        <div id="rating-cell">
            <div class="d-flex align-items-center">
                <p class="h6 mb-0 mr-1">{{data.getFormattedRating()}}</p>
                <div id="star-ratings">
                    <div id="fill-ratings" [style.width]="data.getRatingPercentage()+'%'">
                        <span>
                            <ng-container *ngFor="let i of [].constructor(data.rating.total)">
                                <ng-container>★</ng-container>
                            </ng-container>
                        </span>
                    </div>
                    <div id="empty-ratings">
                        <ng-container *ngFor="let i of [].constructor(data.rating.total)">
                            <ng-container>★</ng-container>
                        </ng-container>
                    </div>
                </div>
                <p id="reviews" class="h6 small mb-0 ml-1">({{data.getReviews()}})</p>
            </div>
        </div>
        <div id="price-cell">
            <p class="h4 mb-0">
                <span id="price">{{data.getFormattedPrice(data.price.value)}}</span> 
                <ng-container *ngIf="data.price.oldValue > 0">
                / <span id="oldPrice">{{data.getFormattedPrice(data.price.oldValue)}}</span>
                </ng-container>
            </p>
        </div>
        <div id="description-cell">
            <p class="h6 mb-0" style="color:black; font-style: italic;">{{data.description}}</p>
        </div>
        <div id="more-info-cell">
            <div class="d-flex align-items-center">
                <img src="/assets/icons/category.png"/>
                <p class="h6 mb-0 ml-2">{{data.category.name}}</p>
            </div>
            <div class="d-flex align-items-center ml-4">
                <img src="/assets/icons/available.png"/>
                <p class="h6 mb-0 ml-2">{{data.getStatus()}}</p>
            </div>
        </div>
        <div id="favorite-cell">
            <a (click)="onFavoriteClick(data)" class="scaler">
                <img *ngIf="data.isFavorite" src="/assets/icons/favorite-active.png"/>
                <img *ngIf="!data.isFavorite" src="/assets/icons/favorite-inactive.png"/>
            </a>
        </div>
        <div id="cart-cell">
            <a href="#" class="scaler">
                <img src="/assets/icons/basket.png"/>
            </a>
        </div>
    </div>
</div>