<div id="navbar-custom" class="d-flex align-items-center">
    <img src="assets/images/logo.png"/>
    <a id="btn-toggle" class="d-flex d-md-none ml-auto" (click)="toggleNavbar()"></a>
    <div class="d-none d-md-flex ml-auto">
        <a class="navbar-custom-link h5" routerLink="/home">Home</a>
        <a class="navbar-custom-link h5" routerLink="/locations">Locations</a>
        <a class="navbar-custom-link h5" routerLink="/menu">Menu</a>
        <a class="navbar-custom-link h5" routerLink="/cart">
            <div class="d-flex align-items-center">
                Cart<span class="badge badge-primary ml-1">{{totalCartItems}}</span>
            </div>
        </a>
    </div>
</div>

  