<div id="wrapper">
    <div id="content" [@toggleClick] = "toggleContent">
        <app-navbar 
            id="app-navbar"
            (toggle) = "toggle()"            
        ></app-navbar>
        <router-outlet></router-outlet>
    </div>
    <nav 
        id="sidebar"
        [@toggleClick] = "toggleSidebar"
        >
        <ul class="list-unstyled pt-2 pb-4 px-4">
            <li>
                <a class="navbar-custom-link h5" routerLink="/home" (click) = "toggle()">Home</a>
            </li>
            <li>
                <a class="navbar-custom-link h5" routerLink="/locations" (click) = "toggle()">Locations</a>
            </li>  
            <li>
                <a class="navbar-custom-link h5" routerLink="/menu" (click) = "toggle()">Menu</a>
            </li>           
        </ul>
    </nav>
</div>

