<div id="footer" class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <img src= "/assets/images/thank-you.png"/>
    </div>
    <div class="col-12 col-md-6">
      <div class="h2 text-white">Feedback</div>
      <p class="h6 text-white pb-4">We want your feedback about everything</p>
      <form class="pb-4">
        <div class="form-group">
          <input type="email" class="form-control bg-transparent text" id="exampleFormControlInput1" placeholder="Your Email">
        </div>     
        <div class="form-group">
          <textarea class="form-control bg-transparent text" id="exampleFormControlTextarea1" rows="3" placeholder="Message For Us..."></textarea>
        </div>
        <button type="submit" class="btn button-yellow h4 text-white text-shadow">Submit</button>
      </form>
    </div>
    <div class="col-12">
      <div class="row d-flex justify-content-center">
        <img src="/assets/icons/map-pointer.png"/>
      </div>
      <div class="row d-flex justify-content-center text-center h4 text-white text-shadow p-4">
          329 Queensberry Street, North Melbourne VIC 3051, Australia.
      </div>
      <div class="row d-flex justify-content-center text-center h4 text-white text-shadow p-2">
        Call. 0123 456 78910
      </div>
      <div class="row d-flex justify-content-center text-center h4 text-white text-shadow p-4">
        Email. hello@yourmail.com
      </div>
      <div class="row d-flex justify-content-center text-center">
        <div>
          <a href="#">
            <img class="mx-2" src="/assets/icons/tweeter.png"/>
          </a>
          <a href="#">
            <img class="mx-2" src="/assets/icons/facebook.png"/>
          </a>
          <a href="#">
            <img class="mx-2" src="/assets/icons/instagram.png"/>
          </a>
          <a href="#">
            <img class="mx-2" src="/assets/icons/youtube.png"/>
          </a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
