<app-header
  backgroundImg = "home-header-bg.jpg"
  title = "Welcome"
  subtitle = "Beyond the boundaries of taste.">
  <div class="btn button-yellow h5 text-white text-shadow" routerLink="/menu">Start an Order</div>
</app-header>

<!-- CONTENT -->

<div class="container-fluid">
  <!-- ROW 1 -->

  <div class="row top-row justify-content-center align-items-center">
    <div class="col-lg-8 info-box">
      <div class="row mx-2 my-4">
        <div class="col text-center">
          <h1 class="display-3" style="font-family: Great Vibes;">Discover</h1>
        </div>
      </div>

      <div class="row mx-2 my-4">
        <div class="col text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>

      <div class="row mx-2 my-4">
        <div class="col-1"></div>
        <div class="col-auto">
          <img src="/assets/icons/plant.png" />
        </div>
        <div class="col my-auto">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's.
        </div>
        <div class="col-1"></div>
      </div>

      <div class="row mx-2 my-4">
        <div class="col-1"></div>
        <div class="col-auto">
          <img src="/assets/icons/cofee.png" />
        </div>
        <div class="col my-auto">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's.
        </div>
        <div class="col-1"></div>
      </div>

      <div class="row mx-2 my-4">
        <div class="col-1"></div>
        <div class="col-auto">
          <img src="/assets/icons/cake.png" />
        </div>
        <div class="col my-auto">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's.
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-lg-4 image-box">
      <img class="image" src="/assets/images/dish1.jpg" />
    </div>
  </div>

  <!-- ROW 2 -->

  <div class="row bottom-row justify-content-center align-items-center">
    <div class="col-lg-4 image-box">
      <img class="image" src="/assets/images/dish2.jpg" />
    </div>
    <div class="col-lg-8 info-box">
      <div class="row mx-2 my-4">
        <div class="col d-flex justify-content-center">
          <div class="title-box">
            <img src="/assets/images/tasteful.png" />
            <div class="caption">
              <h4>MENU</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-2 my-4">
        <div class="col h5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="row mx-2 my-4">
        <div class="col-12 col-md-4 text-center">
          <img src="/assets/icons/service.png" />
          <h6 class="h5">Friendly Service</h6>
          <p class="h6">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img src="/assets/icons/locations.png" />
          <h6 class="h5">Convenient Locations</h6>
          <p class="h6">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img src="/assets/icons/delivery.png" />
          <h6 class="h5">Fast Delivery</h6>
          <p class="h6">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
